.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1db954;
  padding: 10px 0; /* Adjust the padding as needed to control header size */
  text-align: center;
}

.header-content {
  max-width: 800px; /* Limit the width of the header content */
  margin: 0 auto; /* Center the header content horizontally */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
